body {
    background-color: ;
}

header {
    background-color: #06131F;
    /* debug */
    height: 80px;
}

.main {
    background-color: #1D2D3C;
}

.card {
    background-color: #112030;
    color: white;
    height: 100%;
}